@import "./styles/theme.css";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6cefc; /* Light background to match Skill Odyssey branding */
  color: var(--text-color); /* Consistent text color from theme */
}
